<div class="container">

    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us</h1>
            </div>




            <div class="col-md-3">
                <img class="img" class="img-responsive" src="/Images/ClinicPics/OperationInProgress.jpg">
            </div>


            <div class="col-md-6">
                <h3>The Clinic</h3>

                <p>The Animal Welfare Society of South Africa offers a full range of veterinary services to the underprivileged and disadvantaged communities of Cape Town. From its base in Philippi, the Society handles about 4,000 animals per month. The
                    Clinic is open 7 days a week to accommodate those that are unable to bring their pets during the week. We have fully equipped and very busy theatres where we do sterilizations, Orthopaedic and other procedures. At any one time we can
                    house in excess of a hundred sick or injured animals. We are committed to sterilizing every animal that comes through our hospital as our contribution to reducing the number of strays and unwanted animals in Cape Town.</p>

            </div>
            <div class="col-md-3">

                <img class="img" class="img-responsive" src="/Images/ClinicPics/dogInClinicKennel.jpg" alt="">

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">

            <div class="col-md-3">

                <img class="img" class="img-responsive" src="/Images/Kennels/Dog1InKennel.jpg" alt="">

            </div>
            <div class="col-md-6">
                <h3>Adoption Kennels</h3>
                <p>The Society also has Adoption kennels. We take in stray and unwanted pets to see if we can find them suitable homes. The animal is sterilized and micro-chipped before leaving the Organization and we are strict about home-checks. We have
                    many very happy Adopters and pets out there in the greater Cape Town community. The Animal Welfare Society also offers pound facilities to Law Enforcement. Our Inspectorate department responds to daily calls with regard to cases relating
                    to abuse and general neglect of animals as well as on going reported cases of animal fighting amongst our communities. Very often we respond to reports of injured stray animals, large and small on our public road ways by our City Traffic
                    Department, SAPS and Metro Police. The Society is funded entirely by the generosity of the public.</p>


            </div>

            <div class="col-md-3">

                <img class="img" class="img-responsive" src="http://placehold.it/1900x1200" alt="">

            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">

            <div class="col-md-3">
                <img class="img" class="img-responsive" src="http://placehold.it/1900x1200" alt="">
            </div>

            <div class="col-md-6">
                <h3>History</h3>
                <p>The Animal Welfare Society (AWS) was originally formed in 1929 to lobby the Cape Town City Council to adopt humane killing methods at its abbattoir. During the 1930s the Animal Welfare Society set up part-time clinics in District Six,
                    Claremont, Plumstead and Athlone followed by a travelling dispensary. The van moved round the Cape Flats and during 1938 over 7000 animals received attention. Kathleen Atkins took over the management of the Society in 1945 and remained
                    at the helm till 1985. During this period the Society acquired premises in Philippi where full-time Veterinary services were set up. After Kate Atkins died June Woodman took over the management of the Society and built it up until
                    it was in a position to build new facilities on the premises in Philippi, with state of the art equipment during the period 2009 until 2011. She unfortunately passed away before the building was completed.</p>


            </div>

            <div class="col-md-3">
                <img class="img" class="img-responsive" src="http://placehold.it/1900x1200" alt="">
            </div>

        </div>


<!-- </div> -->

<hr>
<div>
  <div class="col-md-7 pull-right">
    <p>Created By:</p>
    <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

  </div>
</div>
</div>
