<div class='container'>
    <div class="row"></div>
    <div class="col-md-12">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <hr>
            <h2>Contact Information</h2>
            <hr>
            <p>
                <b>General :</b> admin@awscape.org.za<br>
            </p>

            <p>
                <b>Adoptions :</b> adoptions@awscape.org.za<br>
            </p>

            <p>
                <b>Inspector (Complaints) :</b> inspector@awscape.org.za<br>
            </p>

            <p>
                <b>T (+27) 21 692 2626</b><br>

            </p>

            <p>
                <b>F (+27) 21 691 1328</b><br>
            </p>


            <p>
                Papkuilsvlei Road<br> Philippi
                <br> Western cape<br> South Africa<br>
            </p>
            <p>
                PO Box 32057<br> Ottery
                <br> 7808
                <br> South Africa <br>
            </p>
            <hr>


            <h2>Send Us an Email:</h2>


            <form action="/contactUs" method="post">

                <div class="form-group img-responsive">
                    <label for="InputName"> Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">

            </form>

        </div>

    </div>



    <hr>

    <div>
        <div class="col-md-7 pull-right">
            <p>Created By:</p>
            <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

        </div>
    </div>
</div>
</div>
