<!-- <div class="container">

  <h1 class="page-header" align="center">Donations</h1>

    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <h3>Donations</h3>

            <p><h5>As mentioned before, the society is funded entirely by the generoicity of the comunity.
              If you would like to help out, please click on the "Donate" button bellow to help out.</h5></p>


              <a class="btn btn-primary" href="https://www.payfast.co.za/donate/go/animalwelfaresocietyofsouthafrica">Donate</a>
              <hr>
              <h3>Bank Details</h3>
              <p><h5>
                <li>Standard Bank, Kromboom</li>
                <li>Branch Code 026209</li>
                <li>A/C Animal Welfare Society of SA</li>
                <li>No. 07 286 319 6</li>
                <li>Reference: Your surname plus Membership/Donation</li>
                <li>For Section 18A Tax Certificate, please email us at Admin@awscape.org.za</li></h5>

              </p>


    </div>
  </div> -->


<!-- MUST STILL CHECK IF THEY WANT THE TABLES -->
  <!-- <div class="col-md-5">
    <h3>Our Main Donators</h3>
    <table style="width:100%;">
<h3>Trusts</h3>
  <tr>
    <td>Alan And Gill Charitable Trust</td>
    <td>Awe Larpent Will Trust</td>
    <td>Bob Langham Carter Trust</td>
  </tr>
  <tr>

  </tr>
  <tr>
    <td>Brian And Mira Robinson Charitable Trust</td>
    <td>BW Maskew Miller Will Trust</td>
    <td>C & E Harding Charitable Trust</td>
  </tr>

  <tr>
    <td>D Maxwell Charitable Trust</td>
    <td>Dangwen Trust</td>
    <td>Dora Hassner Trust</td>
  </tr>

  <tr>
    <td>Douglas Jooste Trust</td>
    <td>GM Edward Will Trust</td>
    <td>Harry Crossley Foundation</td>
  </tr>

  <tr>
    <td>Helga Blake Charitable Trust</td>
    <td>JHG Knoren Will Trust</td>
    <td>King Will Trust</td>
  </tr>

  <tr>
    <td>L Crowther Trust</td>
    <td>Lily Ashton Charitable Trust</td>
    <td>MD Woodgate Charitable Trust</td>
  </tr>

  <tr>
    <td>Meaker Will Trust</td>
    <td>Nussbaum Foundation</td>
    <td>Pilcher Will Trust</td>
  </tr>

  <tr>
    <td>R & E Harvey Trust</td>
    <td>Ralf Herriman Trust</td>
    <td>Stern Charitable Trust</td>
  </tr>

  <tr>
    <td>Sunshine Charitable Trust</td>
    <td>Yates Charitable Trust</td>
    <td>The Lynette Croudace Fund</td>
  </tr>

  <tr>
    <td>Clifford Harris Trust</td>
    <td>C V Niekerk Trust</td>
    <td>Meyer Trust</td>
  </tr>

  <tr>

    <td>Edith Wilma Muller Trust</td>
    <td>ER Tonneson Trust</td>
    <td></td>
  </tr>

</table>
<hr>
  </div>
 -->


<!-- <div align="center">
<h3>Bequests</h3>

  <table>
    <tr>
      <td>E/L : E Long</td>
      <td>E/L : HD Caithness</td>
      <td>E/L : A Wilson</td>
    </tr>

    <tr>
      <td>E/L : D Wallis</td>
      <td>E/L : Henshilwood</td>
      <td>E/L : JM Snyders</td>
    </tr>

    <tr>
      <td>E/L : C Hugo</td>
      <td>E/L : Nawaratzki</td>
      <td>E/L : DP Randall</td>
    </tr>

    <tr>
      <td>E/L : DE Read</td>
      <td>E/L : MS Stripp</td>
      <td>E/L : R Lewin</td>
    </tr>

    <tr>
      <td>E/L : GU Maritz</td>
      <td>E/L : BA Ferguson</td>
      <td>E/L : M Abbott</td>
    </tr>

    <tr>
      <td>E/L : Cremin</td>
      <td>E/L : F Crawford</td>
      <td>E/L : EM Boyle</td>
    </tr>

    <tr>
      <td>E/L : RP Bailen</td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div> -->

<!-- </div>
</div>
        </div>
    </div>

    <style>
    table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding:3px;
}

    </style> -->
