
<div class="container">
    <div align="center" width="100%">
<div class="row">
    <!-- Page Heading -->
    <div class="row" id="GivenGain">



        <div class="col-lg-12">

          <div class="col-md-3" ></div>

          <div class="col-md-6" >

            <h2>Donations</h2>

            <p><h5>As mentioned before, the society is funded entirely by the generoicity of the comunity.
              If you would like to help out, please click on the "Donate" button bellow to help out.</h5></p>


              <a class="btn btn-primary" href="https://www.payfast.co.za/donate/go/animalwelfaresocietyofsouthafrica">Donate</a>
              <hr>
              <h2>Bank Details</h2>

              <div id="BankDetails">
                <ul>
                  <li>Standard Bank, Kromboom</li>
                  <li>Branch Code 026209</li>
                  <li>A/C Animal Welfare Society of SA</li>
                  <li>No. 07 286 319 6</li>
                  <li>Reference: Your surname plus Membership/Donation</li>
                  <li>For Section 18A Tax Certificate, please email us at Admin@awscape.org.za</li></h5>
              </ul>
            </div>
            <hr>

            <h2> Given Gain</h2>
              <p>The Animal Welfare Society in Cape Town offers subsidized medical treatment for the pets of the disadvantaged population of Cape Town.  From our premises in Philippi we operate seven days a week.</p>

          <hr>

          <h2>Our main focus areas are as follows:</h2>
          <div id="BankDetails">

                  <ul>
                    <li>Primary Health care for small domestic pets (mainly cats and dogs)</li>
                    <li>Education with regard to pet care and nutrition</li>
                    <li>In-patient care for the sick and wounded pets</li>
                    <li>Sterilization as a means of controlling the burgeoning dog and cat populations</li>
                    <li>Adoption kennels  for unwanted or stray animals</li>
                </ul>
          </div>
                  <hr>

                  <p>For over 80 years the Society has been helping the cats and dogs of the Cape Flats, and has developed from one mobile clinic to a state-of-the-art hospital with space for up to 120 sick animals.  The Adoption Kennels provide space for around 60 dogs and cats.</p>


              <a class="btn btn-primary" href="https://www.givengain.com/cause/3857/">Donate through GivenGain</a>



                </div>

        </div>
    </div>
  </div>
</div>

<hr>
<div>
  <div class="col-md-7 pull-right">
    <p>Created By:</p>
    <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

  </div>
</div>

  </div>
