<div class="container">
    <div class="row">
      <h1 class="page-header" style="height:50px;text-align: center;">Lost and Found</h1>
        <div class="col-md-6 portfolio-item">

            <h3>
                <a href="#">What to do if you lose a pet.</a>
            </h3>
            <ol>
            <li>
              <p>
                Contact all the animal welfare organisations (see list below). Don’t just
                contact those in your area – sometimes people pick up an animal in one area
                and then drop them off at an organisation far away. Check-in regularly with the
                animal organisations and even visit regularly if you can.
              </p>
            </li>

            <li>
              <p>
                Contact all the local vets in your area.
              </p>
            </li>
            <li>
              <p>
                Put up posters – street corners, local shops, schools, etc.
                 Also go and knock on every single door in your surrounding neighbourhood.
              </p>
            </li>

            <li>
              <p>
                Contact your local neighbourhood watch/ security company
              </p>
            </li>

            <li>
              <p>
                Advertise on facebook – each animal welfare organisation has its own page.
                However, the following pages are also helpful: Missing Pets SA,
                Petfinders, Lost and Found, Traffic fines, cameras & updates in Cape Town,
                 Barking Mad, Western Cape Animals, Pets Reunited
              </p>
            </li>

            <li>
              <p> Advertise on the following websites:</p>
                <ul>
                  <li><a href="http://www.gumtree.co.za/s-lost-found/v1c9032p1"> Gumtree Lost and Found</a></li>
                  <li><a href="http://petfinders.co.za/"> Petfinders</a></li>
                  <li><a href="http://www.capetown.gov.za/en/CityPetFinder/Pages/default.aspx">City Pet Finder</a></li>
                  <li><a href="http://www.petslostandfound.co.za/">Pets Lost and Found</a></li>
                  <li><a href="http://lostdogs.co.za/"> Lost Dogs</a></li>
                  <li><a href="https://www.parrotalert.com/"> Parrot Alert</a></li>
                  <li><a href="http://www.pets.org.za/"> PETS</a></li>
                </ul>
            </li><br>


            <li>
              <p>
                Advertise in the newspapers: Cape Times, Argus, Weekend Argus, Tygerburger, local community papers eg Tatler
              </p>
            </li>

            <li>
              <p>
               <a href="http://petfinders.co.za/">Pet Finders</a> is a highly recomended website and they are based in Cape Town.
               <a href="www.missingpetpartnership.org">Missing Pet Partnership</a>,although American-based,also has some useful information.
              <a href="https://plus.google.com/b/111561530458523055661/">Pet Finders</a>, follow them and get intouch with them on GooglePlus.
              </p>
            </li>

            <li>
              <p>
                Put up posters – street corners, local shops, schools, etc.
                 Also go and knock on every single door in your surrounding neighbourhood.
              </p>
            </li>

            <li>
              <p>
                Those with missing STAFFIES, PITBULLS ETC, please report your pet as possibly stolen to the police and insist on a case number (Numbers and statistics
                are needed to enforce the need for task forces to combat dogfighting rings). Also, report your missing animals
                here:<a href="http://satruth.co.za/main/">Satruth</a>
              </p>
            </li>

            <li>
              <p>
                <b>Pet Whisperers/Pet Detectives:</b>
                <ul>
          <li>Animal Trax: Carol – Tel: 021 939 7045 / 083 457 5652, email: carol@animaltrax.co.za</li>
          <li>Paws and Listen: Naomi Pretorius – Tel: 028-3164561, email: pawsandlisten@vodamail.co.za</li>
          <li>Send details plus a photo to info@animalspirit.co.za for a referral to an animal communicator</li>
        </ul>
              </p>
            </li>


            <li>
              <h5><b>PLEASE BEWARE OF SCAMMERS!:</b></h5>
                <p>
                eg. A lady named Ayanda from MAA Animal Continent Mitchells plain claiming to have a team of
                people that will find your missing pet. Obviously for a fee! and they need your ID Number. No such organisation exists!
              </p>
            </li>
        </div>

        <div class="col-md-6 portfolio-item">

            <h3>
                <a href="#">What to do if you find a pet.</a>
            </h3>
            <ol>
            <li>Take the animal to nearest vet to check for a microchip.</li>

<li> Notify and advertise as mentioned in the advice above for lost pets.</li>

<li> Don’t divulge too much information about the animal and please ensure proof of ownership before handing it over to whoever claims it.</li>

<li>If you have found a ringed bird, phone 021 689 5118</li>
</ol>
        </div>
    </div>
    <hr>
    <div>
      <div class="col-md-7 pull-right">
        <p>Created By:</p>
        <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

      </div>
    </div>




</div>
