<div class="container">

  <div class="row" >
    <div class="col-md-12">
      <h1 class="page-header">News</h1>


        <div class="col-md-6 pull-left">
          <div class="img-responsive">

          <h3>Latest News</h3>

          <p>Below is a feed from our FaceBook page to keep you upto date on whats<br> happening at the Animal Welfare</p>


        <div class="fb-page" data-href="https://www.facebook.com/awsphilippi/" data-tabs="timeline" data-width="800px" data-height="600px"
          data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/awsphilippi/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/awsphilippi/">Animal Welfare Society Philippi</a>
        </blockquote>
      </div>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    </div>
      </div>

      <div class="col-md-6 pull-right">
        <div class="img-responsive">
        <h3>Animal Welfare Society of South Africa Video</h3>


        <video id="myVideo" width="100%"  controls>
            <source src="/videos/AWS.mp4" type="video/mp4">

        </video>
        <h4>A brief description of each department at the Animal Welfare</h4>
        <p>
          The Animal Welfare Society consists of three sections, first section being the vetenarian and medicine section, it is first class treatment even to those who cannot afford it, using the best medicine to help the animal recover from surgery or injury.
        </p>
          <p>Secondly, the inspectors section, the inspectors go out and investigate when they receive reports of animal mistreatment or when animals are not in a good situation.
          </p>

          <p>Thirdly, the adoptions center, this section goes out to schools and talks to the pupils about the animals and the work of done at the society and encourages the pupils to go to the Animal Welfare if they are looking to add a animal as a pet to their family.
          </p>

      </div>
      </div>

  </div>
        </div>


        <hr>
        <div>
          <div class="col-md-7 pull-right">
            <p>Created By:</p>
            <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

          </div>
        </div>
</div>

<script>
  var vid = document.getElementById("myVideo");
  vid.volume = 0.1;
</script>
